*~
*.user
*.user.*
.log
.fuse_hidden*
data_root*
data_dir
caffe/data
caffe/temp/
caffe/test.m
data_all.mat
caffe/data_train_val
caffe/results
caffe/snapshots
*.swp
caffe/data
data
caffe/train_log.txt
caffe/out.txt
caffe/error.txt
log_train.txt
train_log.txt
